*target
*lib
*classes
*checkouts
*pom.xml
*.jar
*.class
*.lein-deps-sum
*.lein-failures
*.lein-plugins
*.lein-repl-history
conveyor/test_output
conveyor/public
conveyor/test_manifest_dir
conveyor/output_fixtures
*.sass-cache
